
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: darkgrey;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.btn {  
  margin-top: 10px;
  border-radius: 25px;
  padding: 5px 25px;
}

.form-control {
    margin: 5% auto 0;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}
